body{
    background-image: url(img/116099410.jpg);
}

h1{
    font-family: 'Roboto', sans-serif;
    color:aliceblue;
    text-align: center;
    font-size: 80px;
    text-decoration: underline;
}

nav{
    background-color: grey;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    width: 70%;
    margin-left: 200px;
}

a{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.card1{
    display: flex;
    background-color: rgb(0, 132, 255);
    border-radius: 30px;
    width: 80%;
    margin-left: 30px;
    margin-top: 100px;
}

.card2{
    display: flex;
    background-color: grey;
    border-radius: 30px;
    width: 80%;
    text-align: right;
    margin-top: 100px;
    margin-left: 190px;
}

div{
    margin: 20px;
    padding: 5px;
}

h2{
    font-family: 'Roboto', sans-serif;
    color:aliceblue; 
    text-align: left;
    font-weight: bold;
    font-size: 30px;
}

.card2 h2{
    text-align: right;
}

p{
    font-size: 18px;
}

li{
    font-style: italic;
    list-style-type: none;
}


#books{
    max-width: 300px;
    max-height: 300px;
    margin: 25px;
    border: solid blue 1px;
}

#moovies{
    max-width: 400px;
    max-height: 350px;
    margin: 25px;
    border: solid aliceblue 1px;
}

#nature{
    max-width: 300px;
    max-height: 300px;
    margin: 25px;
    border: solid blue 1px;
}

#music{
    max-width: 400px;
    max-height: 350px;
    margin: 25px;
    border: solid aliceblue 1px;
}

#animals{
    max-width: 300px;
    max-height: 300px;
    margin: 25px;
    border: solid blue 1px;
}

footer{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin: 10px;
}